.cabecalho {

    padding-top: 1rem;
    /* background-color: rgba(13, 107, 175, 0.45); */
    flex-direction:  row;
    justify-content: space-between;
    border: none;
    height:6.5rem;
    /* max-width: 100%; */

    
}
.cabecalho__logo--simbolo {
    width: 95px;
    height: auto;
    float: left;
    padding-right: 15px;
    padding-top: 15px;
    
}
.cabecalho__logo {
    margin-bottom: 1rem;
    padding-top:20px;
    float: left;
}

.cabecalho__navegacao {
    text-align: center;
    
}

.cabecalho__link {
    padding-top: 3rem;
    font-size: 1.5rem;
    height: 100px;
    display: inline-block;
    font-family: 'Gagalin', sans-serif;;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    /* color:rgb9, 254, 8); */
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    transition: 400ms;
    /* position: absolute;  */
    /* top: 50%; */
}

.cabecalho__link:hover {
    transition: 400ms;
    color: rgb(49, 254, 8);

}

@media screen and (max-width: 1024px){
    .cabecalho {
    width: 100%;
    height: 40%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: absolute;
    /* background-color: rgba(28, 75, 183, 0.8); */
        
    }
    .cabecalho__link{
    font-size: 1rem;
    padding-top: 5%;

    }
    
   

}
@media screen and (max-width:1024px) {
    html, body {

    overflow-x: hidden;

}
}