:root{
  --montserrat: 'Montserrat', sans-serif;
  --pixelado: 'Press Start 2P', cursive;
  --palito: 'Stick', sans-serif;
  --pintado: 'Gloria Hallelujah', cursive;
  --dafoe: 'Mr Dafoe', cursive;
}
@keyframes blink{
  
  0%{background-color: rgba(14, 28, 226, 1);}
  50%{background-color: rgba(0, 170, 243, 1);}
  100%{background-color: rgba(14, 28, 226, 1);}
  

}


body{
  background-image: url('../img/roblox-bg.jpg'); 
  background-size: cover;
  overflow-x: hidden;
  background-size: cover;
  padding-bottom: 1.25rem;
  
  background-attachment: fixed;
  background-position-y: 2rem;

}

.descricao {

  position: relative;
  margin: auto;
  font-family: var(--montserrat);
  top: 15rem;
  width: 100%;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  color: white;
  background-color:#004AAD;
  /* border-radius: 1rem; */

}

#containerForm {

  position: relative;
  margin: auto;
  top: 15rem;
  max-width: 100%;
  /* border-radius: 1rem; */
  padding: 1rem;
  padding-top: 2rem;
  margin-bottom: 20rem;
  

  background-color: rgb(0, 150, 33);
  
}





#curso_title{
font-family: 'Gagalin', sans-serif;
font-size: 2rem;
text-shadow: 2px 2px 2px black;
margin-bottom: 0.5rem;
color: rgb(49, 254, 8);
           
}
.curso_subtitle{
  font-family: var(--pixelado);
  font-size: 0.5rem;
  /* text-align: center; */
}

.aprendizado_{
 list-style-type: disc;
 list-style-position: inside;

}
#call{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
  animation-name: blink2;
  animation-duration: 2s;
  animation-iteration-count: 10;

}


input,select,button {
  /* width: 100%; */
  width: 50%;
  box-sizing: border-box;
  position: relative;
  left: 25%;
  padding: 10px;
  border-radius: .5rem;
  margin-bottom: .5rem;
  border: none;
}

input[type="submit"]{
  color: white;
  background-color:rgb(14, 28, 226);
  font-weight: bold;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}


input:hover[type="submit"]{

  background-color: rgba(0, 170, 243, 1);
  transition: 0.3s;
}
input[type="button"]{
  
  color: white;
  font-family: var(--palito);
  /* font-weight: bold; */
  background-color:rgb(15, 227, 15);
}
input:hover[type="button"]{
  
  color: white;
  font-family: var(--palito);
  /* font-weight: bold; */
  background-color:green;
  transition-duration: 0.5s;


}



select{

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../img/arrow.jpg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

button{
background-color: rgb(20, 213, 20);
color: white;
font-weight: bold;
}


@media screen and (max-width: 1024px) {

  
  .descricao {

  font-size: 1rem;
  max-width: 100%;
  top: 32rem;
  margin: auto;
  background-color: #004AAD;
  }
 
  #containerForm{
  
  top: 32rem;
  

  }
  

 
  body{
    background-color:#004AAD;
    background-image:url("../img/roblox-bg2.jpg");
    background-position-x: center;
    background-position-y: 39.5vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment:scroll;
    
  }
 
  
  input[type="submit"]{
    color: white;
    background-color:rgba(0,0,250,0.7);
    font-weight: bold;
  }
}



 